<!DOCTYPE html>     				
<html>
<head>   
	<title>   BlogPost </title> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" >
                                                <!-- Semantic UI - similar to bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/app_comments.css">    <!-- looks up under public dir - doesn't seem to work??? -->                                  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">                                                
                                                
</head>
<body>
    
                                           
<div class="ui inverted menu">
  <div class="ui container">
   <!--<div class="header item"> <i class="code icon"></i> Blogsite </div>   <!-- Semantic UI also has icons -->-->
   <a href="/" class="headeritem">PETBLOG HOME</a>
   <a href="/blogs/new" class="headeritem">ADD BLOGPOST</a>
  </div>
</div>