<!DOCTYPE html>     				
<html>
<head>   
	<title>   BlogPost </title> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" >
                                                
    <link rel="stylesheet" type="text/css" href="/stylesheets/app_comments.css">                                      
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">                                                
                                                
</head>
<body>
    
                                           
<div class="ui inverted menu">
  <div class="ui container">
   <a href="/" class="headeritem">PETBLOG HOME</a>
   <a href="/blogs/new" class="headeritem">ADD BLOGPOST</a>
  </div>
</div>