                    /* Below is based on Semantic UI */



i.icon{             /* all i tags with class = "icon" */
    font-size:2em;  /* 2x parent  */
}


#deletebutton{
    display:inline;   /* making the form element inline*/
}

.headeritem{
    margin-left:15vw;
    margin-right:15vw;
    margin-top:2vh;
    font-size:1.3rem;
    color:rgb(197, 200, 204);
    word-spacing: 7px;
}

.blogitem{
    box-shadow: 10px 15px 15px rgba(0,0,0,.3);
    margin : 15vh 10vw;
    width : 80%;
}

.blogitem img{
    width:100%;
    height:60vh;
    border: 5px solid rgba(200,200,200,0.5);
}

.title{
    color:red;
    font-size:1.5rem;
}

.timestamp{
    color:gray;
    font-size:1em;
    margin :0;
}

.readmore , .chevron{
    color:red;
    padding-left:1vw;
}

.content .title{
    text-align:center;
}

.content .timestamp{
    text-align:center;
}

.content h4{
    font-weight:400;
    padding-left:1vw;
    padding-right:1vw;
    word-spacing: 4px;
}

.content h4:before { 
   content: "\00a0 \00a0 \00a0 \00a0 \00a0 ";    /* to insert space at paragraph beginning */
}



.showcontainer{

    background-color:rgba(220,220,220,0.5);
    margin:10vh 10vw auto 10vw;
    font-family: 'Roboto', sans-serif;
    word-spacing: 5px;
    line-height:3px;
    font-size:1.2rem;
    position:relative; 
    min-height:120%;            /* sets min height */
    width:80%;
}


.showtitle{
   /*text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;   */  /* for outline on font */
   text-align:center;
   font-size:2rem;
   font-weight:bold;
   position:relative;          /* whether there's content or empty content , the space is reserved for it with 'relative'. Other content will not be adjusted to fit into any gap left by the element. */
   top:7vh;                    /* top moves the element relative to it's default position on screen . To use relative positioning, place object first on screen without postion / top/left etc tag and then move it by doing position/top/left etc tags*/
   /*left:20vw;*/
}

hr{
    border: 0;
    height: 3px;
    width:20vw;
    background-image: linear-gradient(to right, rgba(0,0,0, 0), rgba(0,0,0, 0.75), rgba(0,0,0, 0));
    position:relative;
    top:10vh;
    /*left:20vw;    */
}

.datestr{
   text-align:center;
   font-size:1.2rem;
   margin-top:5vh;
   margin-bottom:5vh;
   position:relative;
   top:13vh;
   /*left:20vw;  */
}

.imagecard{
    float:left;
}

.showcontainer img{
    box-shadow: 10px 15px 15px rgba(0,0,0,.3);
    height:60vh;
    width:45vw;
    margin:10vh 1vw auto -7vw;
}



.blogtext{
   position:relative;
   top:18vh;
   left:2vw;
   margin-right:3vw;
   word-spacing: 9px;            /* spacing between words in a text content */
}

.blogtext p:before {
       content: "\00a0 \00a0 \00a0 \00a0 ";    /* to insert space at paragraph beginning */
}

.basic, a.button{
    width:150px;
    height:40px;
}

a.ui.medium.green.basic.button{
    margin-right:2vw;
}

.allbuttons{
    float:right;
    position:absolute;    /*an element that is positioned absolutely is taken out of the flow and thus takes up no space when placing other elements. */
    bottom:2vh;            /*The absolutely positioned element is positioned relative to nearest positioned ancestor */
    right:7vw;

}

